
Projeto Base/Projeto-Natal-2023-Base/production/Christmas_ball_1.1_2023-11-22_20-28-49/bom.csv
Projeto Base/Projeto-Natal-2023-Base/production/Christmas_ball_1.1_2023-11-22_20-28-49/Christmas_ball_1.1.zip
Projeto Base/Projeto-Natal-2023-Base/production/Christmas_ball_1.1_2023-11-22_20-28-49/designators.csv
Projeto Base/Projeto-Natal-2023-Base/production/Christmas_ball_1.1_2023-11-22_20-28-49/netlist.ipc
Projeto Base/Projeto-Natal-2023-Base/production/Christmas_ball_1.1_2023-11-22_20-28-49/positions.csv
